/* Header styling */
header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

header h1 {
  font-size: 24px;
  margin-left: 20px;
}

.logo {
  margin-left: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* Logout button to top right */
.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4b5c;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.logout:hover {
  background-color: #ff6f7d;
}
.nav-toggle,
.nav-toggle-input {
  display: none;
}
.nav-toggle-container {
  display: none;
}
/* @media (max-width: 700px) {
  header {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  nav {
    flex-direction: column;
    width: 300px;
    padding: 1.5em;
    gap: 0;
    z-index: 4;
  }
  
  header.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .overlay {
    background-color: rgba(0 0 0 /0.75);
    position: fixed;
    inset: 0;
    z-index: 2;
  }
  .logout {
    position: static;
    margin-top: 2em;
  }
} */

@media (max-width: 700px) {
  header {
    /* justify-content: end; */
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }
  .nav-toggle-container {
    display: flex;
    justify-content: end;
  }
  .nav-toggle {
    padding: 0.5rem;
    justify-self: flex-end;
    display: block;
    cursor: pointer;
  }
  .nav-toggle > div {
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .nav-toggle > div + div {
    margin-top: 5px;
  }
  nav {
    display: none;
    bottom: 0;
    margin-top: 2em;
    gap: 0;
  }

  nav > a:not(.logout) + a:not(.logout) {
    border-top: 1px solid rgba(255 255 255 /0.15);
  }
  .nav-toggle-input:checked + nav {
    display: flex;
    flex-direction: column;
  }
  .logout {
    width: fit-content;
    position: static;
    margin-top: 2rem;
  }
}
