<!DOCTYPE html>
<html LANG="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Victory Chibuike">
        <meta name="description" content="A website where you cn hire all of your professionals and handiwork men">
        <title>LoggedIn</title>
        <link rel="stylesheet" href="../static/css/header.css"></link>
        <link rel="stylesheet" href="../static/css/footer.css"></link>
        <link rel="stylesheet" href="../static/css/loggedin_landing.css"></link>
    </head>
    <body>
        <noscript>
            <p>
                Either Enable Javascript on your browser or use another browser to view this page. This page relies on javascript to work properly and offer you a seamless user experience.
            </p>
        </noscript>
        <header>
            <!--Navigation elements (within the entire app)-->
            <nav>
                <a href="{{ url_for('landing_page') }}">Home</a>
                <a href="#register">Register</a>
                <a href="#login">Login</a>
                <a href="{{ url_for('logout') }}" class="logout">Logout</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="about.html">About</a>
            </nav>
        </header>
        <h1>Hire like a pro</h1>

        <!--Infor about the app here-->
        <section name="information">
            <p name="elevator">
                <h2>ServiceUp is a website where you can hire professionals close to you for all sort of services under slim time constraints.</h2>
            </p>
        </section>

        <!--All forms, button etc here-->
        <section name="actions">

            <div name="search-form" id="search">
                <form id=search-form onsubmit="return handleSearch(event)">
                    <label for="search-box">Search</label>
                    <input type="text" id="searchInput" placeholder="eg: Electrician" onkeyup="showSuggestions()" autofocus required>
                    <div id="suggestions"></div>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div id="results"></div>


            <div name="others">
                <div name="login-container" id="login-container">
                    Login<br>
                    <form id="login-form" action="/login" method="POST">
                        <div class="login-form-field">
                            <input type="email" placeholder="Email" name="email">
                        </div>
                        <div class="login-form-field">
                            <input type="text" placeholder="Password" name="password">
                        </div>
                            <input type="submit" value="Login">
                    </form>
                </div>

                <div name="register" id="register">
                    Register<br>
                    <form id="registration-form">
                        <!--Select either professional or normal user-->
                        <label for="registration-type">registration-type:</label>
                        <select id="registration-type">
                            <option value="user">user</option>
                            <option value="professional">professional</option>
                        </select>
                        <input type="text" placeholder="Firstname" class="registration-form-field" name="firstname" required>
                        <input type="text" placeholder="Lastname" class="registration-form-field" name="lastname" required>
                        <input type="text" placeholder="Username" class="registration-form-field" name="username" required>
                        <input type="email" placeholder="Email" class="registration-form-field" name="email" required>
                        <input type="password" placeholder="Password" class="registration-form-field" name="password" required>
                        <input type="tel" placeholder="Contact" class="registration-form-field" name="contact">
                        <input type="text" placeholder="State" class="registration-form-field" name="state">
                        <input type="text" placeholder="Area or City" class="registration-form-field" name="city">
                        <input type="text" placeholder="LGA" class="registration-form-field" name="lga">
                        <input type="text" placeholder="street and closest bus stop" class="registration-form-field" name="street">
                        <input type="text" placeholder="service (your work)" class="registration-form-field" name="service">
                        <input type="button" value="Register" onclick="register(this.form)">
                    </form>
                </div>
            </div>
        </section>

        <!-- Images of different types of handwork sliding from left to right-->
        <section name="sliding-images">
            <ul name="services">
                <li>
                <figure name="Electrician">
                    <img src="{{ url_for('static', filename='img/OSIModel.png') }}" alt="Electrician">
                    <figcaption name="Electrician">Electrician</figcaption>
                </figure>
                </li>
                <li>
                <figure name="Electronics-repairer">
                    <img src="{{ url_for('static', filename='img/robotics_intern.jpg') }}" alt="Electronics-repairer">
                    <figcaption name="Electronics-repairer">Electronics Repairer</figcaption>
                </figure>
                </li>
                <li>Electrician</li>
                <li>Electronics Repairer</li>
                <li>Phone repairer</li>
                <li>Plumber</li>
                <li>Bricklayer</li>
                <li>Briader</li>
            </ul>
        </section>

        <footer> 
            <div nam="source">
                <div name="github-link">website source code: </div>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
</html>