<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.firstname }} {{ user.lastname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}"></link>
    <style>
        #successMessage, #hireMessage {
          display: none;
          color: green;
          font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <!--Navigation elements (within the entire app)-->
        <nav>
            <a href="{{ url_for('landing_page') }}">Home</a>
            <a href="{{ url_for('landing_page', _anchor='register') }}">Register</a>
            <a href="{{ url_for('landing_page', _anchor='login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="about.html">About</a>
        </nav>
    </header>

    <div class="container">
        <div class="profile-header">
            <h1>{{ user.firstname }} {{ user.lastname }}</h1>
            <span>Username: {{ user.username }}</span>
        </div>

        <div class="profile-info">
            <p><strong>Email:</strong> Hire to see</p>
            <p><strong>Contact:</strong> Hire to see</p>
            <p><strong>Location:</strong> {{ user.location.street }}, {{ user.location.area_or_city }}, {{ user.location.lga }}, {{ user.location.state }}</p>
            
            <h3>Services</h3>
            <ul class="services-list">
                {% for service in user.services %}
                    <li>{{ service }}</li>
                {% endfor %}
            </ul>

            <p><strong>Number of Stars:</strong> {{ user.numOfStars }}</p>
            <p><strong>Number of Reviews:</strong> {{ user.numOfReviews }}</p>
            <p><strong>Number of Bookings:</strong> {{ user.numOfBookings }}</p>
            <p><strong>Profile Views:</strong> {{ user.numberOfProfileView }}</p>

            <h3>Reviews</h3>
            <ul class="reviews-list">
                {% for review in user.reviews %}
                    <li>{{ review }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--Review form -->
    <form id="reviewForm" onsubmit="review('{{ user.email }}')">
        <label for="review">Review</label>
        <textarea id="review" name="review" required></textarea>
        <button type="submit">Submit</button>
    </form>

    <div id="reviewSuccess">
        <h3>Success!</h3>
        <div>Your review has been submitted</div>
    </div>
    
    <!-- Hire button -->
    <button id="hire" onclick="hireProfessional('{{ user.email }}')">Hire</button>

    <!-- Hire Message initially hidden -->
    <div id="hireMessage">
        <h3>Success!</h3>
        <div>Either call or chat at {{ user.contact }} </div>
        <div>We have sent an email to {{ user.email }} and he should be on his way immediately</div>
    </div>

    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>
